* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.navbar {
  background-color: #D9D9D9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 12px 25px;
  margin-right: 20px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 60px);
  position: relative;
  margin-top: 0;
  scroll-snap-align: start;
}

.title-block {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 40px;
}

.title-block h1 {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-top: 10vh;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.5em;
}

.title-block h2 {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.15em;
}

.button-container {
  margin-left: 40px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.button {
  box-sizing: border-box;
  background-color: #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  padding: 12px 25px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

canvas#particleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.snap-section {
  height: 100vh;
  background-color: #9faab6;
  position: relative;
  z-index: -1;
}

.about-me-content {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.text-content {
  width: 50%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content h2 {
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.15em;
  margin-bottom: 1.5rem;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.image-content {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  width: 100%;
  height: auto;
  max-height: 90%;
  object-fit: cover;
}