* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.navbar {
  background-color: #D9D9D9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 12px 25px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
}

@media (max-width: 767px) {
  .navbar {
    font-size: 0.72rem;
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 60px);
  position: relative;
  margin-top: 0;
  scroll-snap-align: start;
}

.title-block {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 40px;
}

.title-block h1 {
  font-family: inherit;
  font-style: inherit;
  font-weight: 100;
  margin-top: 10vh;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.5em;
}

h2 {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 27px;
  line-height: 39px;
  letter-spacing: 0.15em;
}


.button-container {
  margin-left: 40px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}


.button {
  box-sizing: border-box;
  background-color: transparent; /* make the button transparent */
  border: 1px solid #FFFFFF; /* make the border white */
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  padding: 12px 25px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  color: white; /* make the text white */
  font-size: 1.1rem;
  font-weight: 300;
}

.button:hover {
  background-color: #FFFFFF; /* make the button solid white when hovered */
  border-color: #FFFFFF; /* keep the border white when hovered */
  color: #000000; /* make the text black when hovered */
}

canvas#particleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.snap-section {
  background-color: #D9D9D9;
}

.about-me-content {
  display: flex;
  width: 100%;
}

.text-content {
  color: #000000;
  width: 100%;
  padding: 20px;
}

.text-and-logo-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
}

.text-content h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.image-content {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-row {
  width: 50%;
  display: flex;
  justify-content: space-evenly; 
  padding: 16px 0px 16px 0px;
  
}

.image-row img {
  width: 35px; 
  height: 35px; 
  object-fit: cover; 
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  padding-top: 20px;
}


  
.hide {
  opacity: 0;
}

/* slide-in animation for h2 */
.slide-in-down {
  animation: slideInDown 1s ease-out forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* slide-in animation for image-row */
.slide-in-up {
  animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .text-content p {
    font-size: 16px;
  }

  .image-row img {
    width: 30px;
    height: 30px;
  }

  .title-block h1 {
    font-size: 36px;
  }

  .button {
    font-size: 0.9rem;
  }

  .navbar {
    font-size: 0.8rem;
  }

  .image-content img {
    width: 80%;
    height: 80%;
  }

  .about-me-content {
    flex-direction: column;
  }

  .image-content {
    width: 100%;
  }

  .text-and-logo-content {
    order: 2;
  }

  .image-content {
    order: 1;
  }
}
