/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  overflow: auto;
}

body.projects,
body.resume {
  background-color: black;
}

body.contact-me {
  color: white;
}

.navbar {
  background-color: #D9D9D9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 12px 25px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
}

@media (max-width: 767px) {
  .navbar {
    font-size: 0.72rem;
  }
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 60px);
  position: relative;
  margin-top: 0;
  scroll-snap-align: start;
}

.title-block {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 40px;
}

h1 {
  font-family: inherit;
  font-style: inherit;
  font-weight: 100;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 27px;
  line-height: 39px;
  letter-spacing: 0.15em;
}


.button-container {
  margin-left: 40px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}


.button {
  box-sizing: border-box;
  background-color: transparent; /* make the button transparent */
  border: 1px solid #FFFFFF; /* make the border white */
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  padding: 12px 25px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  color: white; /* make the text white */
  font-size: 1.1rem;
  font-weight: 300;
}

.button:hover {
  background-color: #FFFFFF; /* make the button solid white when hovered */
  border-color: #FFFFFF; /* keep the border white when hovered */
  color: #000000; /* make the text black when hovered */
}

canvas#particleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.snap-section {
  background-color: #D9D9D9;
}

.about-me-content {
  display: flex;
  width: 100%;
}

.text-content {
  color: #000000;
  width: 100%;
  padding: 20px;
}

.text-and-logo-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
}

.text-content h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.image-content {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-row {
  width: 50%;
  display: flex;
  justify-content: space-evenly; 
  padding: 16px 0px 16px 0px;
  
}

.image-row img {
  width: 35px; 
  height: 35px; 
  object-fit: cover; 
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  padding-top: 20px;
}


  
.hide {
  opacity: 0;
}

.slide-in-down {
  animation: slideInDown 1s ease-out forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* slide-in animation for image-row */
.slide-in-up {
  animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .text-content p {
    font-size: 16px;
  }

  .image-row img {
    width: 30px;
    height: 30px;
  }

  .title-block h1 {
    font-size: 36px;
  }

  .button {
    font-size: 0.9rem;
  }

  .navbar {
    font-size: 0.8rem;
  }

  .image-content img {
    width: 80%;
    height: 80%;
  }

  .about-me-content {
    flex-direction: column;
  }

  .image-content {
    width: 100%;
  }

  .text-and-logo-content {
    order: 2;
  }

  .image-content {
    order: 1;
  }
}

.splide {
  display: flex;
  justify-content: center;
  height: calc(89vh - 60px);
}

.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 20px); 
  color: black;
  background-color: #D9D9D9;
  border: #000000 3px solid;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.splide__list {
  display: flex; 
}

.slide-img {
  width: 100%;
  height: 30%; 
  object-fit: cover;
  margin-bottom: 20px; 
}

.slide-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.slide-description {
  font-size: 1rem;
  text-align: justify;
  padding: 0 15px;
  max-height: 50%;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; 
  word-spacing: normal;
}


.splide__slide.is-visible {
  opacity: 1;
}

/* For Chrome, Safari, and Opera */
.slide-description::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

.slide-description::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

.slide-description::-webkit-scrollbar-thumb {
  background: #bfbfbf; /* color of the scroll thumb */
  border-radius: 30px; /* roundness of the scroll thumb */
}

.slide-description::-webkit-scrollbar-thumb:hover {
  background: #7a7878; /* color of the scroll thumb on hover */
}

h1#projects-header {
  color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
}

.project-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.tool-icons {
  display: flex;
  gap: 10px;
}

.tool-icons img {
  width: 30px;
  height: 30px;
}

/* RESUME PAGE */
#resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #D9D9D9;
}

.invisible {
  visibility: hidden;
}


.pdf-section {
  width: 100%;
  height: calc(100vh - 60px - 40px);
    }

.pdf-iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  /* Adjust font size when screen size is less than 767px */
  #resume-header h1 {
    font-size: 32px;
  }
}

/* CONTACT ME PAGE */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(90vh - 60px);
  position: relative;
  margin-top: 10vh;
  scroll-snap-align: start;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 30%;
  flex-wrap: wrap;
}

.info-item {
  border-bottom: 1px solid white;
  letter-spacing: 2px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.contact-name {
  font-weight: 100;
  font-size: 27px;
  line-height: 39px;
  letter-spacing: 0.15em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
}

.contact-footer h4 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.social-media-icons a img {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
}
